# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/asset-manifest.json
build/index.html
build/service-worker.js
package-lock.json
package.json
public/_redirects
README.md
src/components/contact.js
src/components/header.js
yarn-error.log
yarn.lock
build/asset-manifest.json
build/index.html
build/service-worker.js
package-lock.json
package.json
README.md
src/components/contact.js
yarn-error.log
yarn.lock
build/asset-manifest.json
build/index.html
build/service-worker.js
package-lock.json
package.json
README.md
src/components/contact.js
yarn-error.log
yarn.lock
yarn.lock
